.text{
    display: flex;
    flex-direction: column;
    width: fit-content(100%);
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 9;
    justify-self: start;
    margin-left: 3rem;
}