.portrait{
    width: 100%;
    filter: drop-shadow(4px 4px 4px rgba(75, 59, 122, 0.25));
}

.container{
    width: fit-content(100%);
    grid-column-start: 3;
    grid-column-end: 7;
    align-self: center;
}